.Link {
    color: #8F141A;
    white-space: nowrap;
    display: inline-block;
    font: normal normal normal 24px/1.3em Basic, sans-serif;
    transition: color 0.4s ease 0s;
    text-decoration-line: none;
}